:root {
  font-family: 'Roboto', sans-serif;

  --primary-orange-color: #ff643b;
  --primary-blue-color: #8234f8;
  --primary-text-color: #a3a3a3;
  --primary-text-dark-color: #615c5c;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}
